<html ng-app="moviesApp">

<head>
    <title>At The Movies!</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="ng-cloak">

    <div ng-include="navTemplate"></div>

    <h3>Movie List</h3>
    
    

    <div ng-controller="alertAreaController as alertArea">
       
        <table>
            <tr ng-repeat="alert in alertArea.alerts">
                <td>{{alert.reason}}</td>
            </tr>
        </table>
        
        <div contenteditable ng-model="text">This is something I can modify!!</div>
        {{text}}

        <div ng-repeat="alert in alertArea.alerts">
            <pu-alert type="alert.type" close="alertArea.closeAlert(alert)" reason="alert.reason">
                {{ alert.text }}
            </pu-alert>
        </div>
    </div>
    

    <div class="container" ng-controller="MainController as main">
        
        <div class="alert alert-warning">
            This is a warning  (Bootstrap)
        </div>
        
        

        <!--<div ng-show="main.loadTracker.getRequestCount()">
            <img src="spinner.gif" />
            Loading
        </div>
        
        <alert type="danger">
            
        </alert>

        <div class="alert alert-danger" ng-show="main.error">
            {{ main.error.statusText }}
        </div>

        <input type="search" ng-model="main.searchTerm" placeholder="Search..." />
        <select ng-model="main.ordering">
            <option value="+title">Title</option>
            <option value="-rating">Rating (best)</option>
            <option value="+rating">Rating (worst)</option>
        </select>
        <button ng-click="main.refreshMovies()">Refresh</button>

        <table class="table table-bordered table-striped table-hover">
            <tr ng-repeat="movie in main.movies | filter:main.searchTerm | orderBy:main.ordering">
                <td ng-class="main.getStyles(movie)">
                    {{movie.title}}
                </td>
                <td>{{movie.rating}}</td>
                <td>
                    <button ng-click="main.increaseRating(movie)">+</button>
                    <button ng-click="main.decreaseRating(movie)">-</button>
                    <button ng-click="main.startEdit(movie)">Edit</button>
                </td>
            </tr>
        </table>
        
        <div ng-show="main.editableMovie"
             ng-include="'moviesApp/editMovie.html'">
            
        </div>-->

    </div>

    <script src="/angularjs/angular.js"></script>
    <script src="/angular-messages/angular-messages.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <script src="/moviesApp/app.js"></script>
    <script src="/moviesApp/mainController.js"></script>
    <script src="/moviesApp/movieService.js"></script>
    <script src="/moviesApp/myJsonFilter.js"></script>
    <script src="/moviesApp/loading.js"></script>
    <script src="/moviesApp/alertDirective.js"></script>
</body>
</html>
