body {
	background-color: #ccccbb;
}

.ng-cloak {
	display:none;
}


.filledStar {
    color: yellow;
}

.starHover{
    opacity: 0.5;
    color: yellow;
}

.goodTitle {
	color: green;
	font-size: larger;
}

input.ng-invalid.ng-dirty {
	background-color:red;
};