<div>

    <h2>Editing {{ edit.movie.title }}</h2>

    <form ng-submit="edit.saveMovie(editForm.$valid)" name="editForm" novalidate>
        <label>Title</label>
        <input required name="title" ng-model="edit.movie.title" />

        <div>
            <span ng-show="editForm.title.$error.required">This field is required</span>
        </div>


        <label>Rating</label>
        <input type="number" ng-model="edit.movie.rating"
               min="1" max="5"
               name="rating" />
        <label>Year</label>
        <input type="number" ng-model="edit.movie.year" />

        <input type="submit" value="Save!"
               ng-disabled="editForm.$invalid"
               class="btn btn-primary" />
    </form>

<pre>
    {{ editForm | json }}
</pre>

</div>