<html ng-app="atTheMovies">
<head>
    <title>At The Movies</title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />

</head>
<body class="container">
    

    <h1>Movies</h1>
    <div ng-controller="MovieController as vm" ng-init="vm.reason2='none'">
        {{ vm.error.data.message }}
        <button ng-click="vm.add()">
            Add new movie
        </button>
       
        <hr/>
        
        {{counter}}
        <div ds-alert type="info">
            Hi!
        </div>f

        <ds-alert type="warning" reason="vm.reason2">
            <h3>Important!</h3>
            <div>This is dangerous!</div>
        </ds-alert>
        {{vm.reason2}}

        <hr/>
        
        
        <input type="search" placeholder="Search" ng-model="vm.searchTerm"/>
        <select ng-model="vm.sortBy" ng-init="vm.sortBy='-length'">
            <option value="+title">Title</option>
            <option value="-length">Length</option>
            <option value="-releaseDate">Release Date</option>
        </select>

        
        <table class="table table-condensed table-striped" ng-cloak
               ng-show="vm.movies">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Length</td>
                    <td>Release Date</td>
                    <td>Actions</td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="movie in vm.movies | filter:vm.searchTerm | orderBy:vm.sortBy">
                    <td>
                        {{movie.title}}

                    </td>
                    <td>{{movie.length}}</td>
                    <td>{{movie.releaseDate | date:short}}</td>
                    <td>
                        <button class="glyphicon glyphicon-plus"
                                ng-click="vm.increment(movie)"></button>
                        <button class="glyphicon glyphicon-minus"
                                ng-click="vm.decrement(movie)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div id="movieFormDiv" ng-include="'templates/createMovie.html'">

        </div>


    </div>

    <script src="../../Scripts/angular.js"></script>
    <script src="app.js"></script>
    <script src="services/movieDataService.js"></script>
    <script src="controllers/MovieController.js"></script>
    <script src="directives/alert.js"></script>
</body>
</html>
