<div>

    <div class="alert alert-danger" ng-show="list.errorMessage">
        {{ list.errorMessage}}
    </div>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th></th>
        </tr>
        <tr ng-repeat="movie in list.movies">
            <td>
            <a ng-href="#/detail/{{movie.id}}">
                {{ movie.title }}
            </a>
            </td>
            <td>
                {{ movie.year }}
            </td>
            <td ng-class="list.rateMovie(movie)">
                {{movie.rating}}
            </td>
            <td>
                <button class="btn btn-default" ng-click="list.increaseRating(movie)">+</button>
                <button class="btn btn-default" ng-click="list.decreaseRating(movie)">-</button>
                <a ng-href="#/edit/{{movie.id}}" class="btn btn-default">Edit</a>
            </td>
        </tr>
    </table>

    <div>
        <a href="#/edit" class="btn btn-default">Create a movie</a>
    </div>

</div>
