<html ng-app="movies-app">

<head>
    <title>At The Movies! {{ version }}</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
</head>



<body class="ng-cloak">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">At The Movies!</a>
            </div>
        </div>
    </nav>

    <div class="container">

        <h1>At The Movies!</h1>


        <div ng-controller="TempController as outer">
            <input type="text" ng-model="outer.firstName"/>

            <div ng-controller="TempController as inner">
                <input type="text" ng-model="outer.firstName"/>
            </div>

        </div>



        <div class="col-md-10">
            <div ng-view></div>
        </div>
        <div class="col-md-2">

        </div>

    </div>

    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/movies/module.js"></script>
    <script src="/movies/controllers/movieListController.js"></script>
    <script src="/movies/services/movieData.js"></script>
    <script src="/movies/controllers/MovieDetailsController.js"></script>

</body>
</html>
