<html ng-app="movies-app">

<head>
    <title>At The Movies! {{ version }}</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
</head>



<body class="ng-cloak" ng-controller="ShellController as shell">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">At The Movies!</a>
            </div>
        </div>
    </nav>

    <hr>

        <div>Edit Things</div>
        <div>
            <button ng-click="shell.add()">Add New Thing</button>
            <div ng-repeat="thing in shell.things">
                <form>
                    <input type="text" ng-model="thing.title" />
                </form>
            </div>
            <div>
                <table>
                    <tr ng-repeat="thing in shell.things">
                        <td>{{thing.title}}</td>
                    </tr>
                </table>
            </div>
        </div>

    <hr>

    <div class="container">

        <h1>At The Movies!</h1>

        <div class="col-md-10">
            <div ng-view></div>
        </div>
        <div class="col-md-2">

        </div>

    </div>

    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-messages/angular-messages.js"></script>

    <script src="/movies/module.js"></script>
    <script src="/movies/controllers/movieListController.js"></script>
    <script src="/movies/services/movieData.js"></script>
    <script src="/movies/controllers/movieDetailsController.js"></script>
    <script src="/movies/controllers/shellController.js"></script>
    <script src="/movies/controllers/MovieEditController.js"></script>

</body>
</html>
