body {
	background-color: #ccccbb;
}

.ng-hide {
	-webkit-animation: "fadeOutLeft" 0.5s;
	        animation: "fadeOutLeft" 0.5s;
}

.ng-enter {
	-webkit-animation: "fadeInLeft" 0.5s;
	        animation: "fadeInLeft" 0.5s;
}

.ng-leave {
	-webkit-animation: "fadeOutLeft" 0.5s;
	        animation: "fadeOutLeft" 0.5s;
}

.view.ng-enter {
	-webkit-animation: "fadeIn" 1s;
	        animation: "fadeIn" 1s;
}

input.ng-invalid.ng-dirty {
	background-color: #990000;
}

.ng-cloak {
	display: none;
}

.bad-movie {
	background-color: red;
}

.good-movie {
	background-color: green;
}

.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
