<div ng-controller="EditMovieController as edit" class="container">
    <form name="edit.editForm" ng-submit="edit.saveEdit(edit.editForm.$valid)" novalidate>
        <input name="title" type="text" ng-model="edit.movie.title"
               required minlength="3" maxlength="100"
               placeholder="Title">

        <div ng-messages="edit.editForm.title.$error">
            <span ng-message="required">This is required</span>
            <span ng-message="minlength">Not enough chars</span>
            <span ng-message="maxlength">Need less chars</span>
        </div>

        <input name="rating" type="number" min="1" max="5" ng-model="edit.movie.rating" placeholder="Rating">

        <input type="submit" value="Save!" />
        <input ng-click="edit.cancelEdit()" type="button" value="Cancel!" />
    </form>
</div>