<div class="stars">
    <span class="glyphicon" ng-click="clicked(1)" 
          ng-mouseover="preview(1)" ng-mouseout="unpreview()"></span>
    
    <span class="glyphicon" ng-click="clicked(2)" 
          ng-mouseover="preview(2)" ng-mouseout="unpreview()"></span>
    
    <span class="glyphicon" ng-click="clicked(3)"
          ng-mouseover="preview(3)"
          ng-mouseout="unpreview()">
    </span>
    
    <span class="glyphicon" ng-click="clicked(4)"
          ng-mouseover="preview(4)"
          ng-mouseout="unpreview()">
    </span>
    
    <span class="glyphicon" ng-click="clicked(5)"
          ng-mouseover="preview(5)"
          ng-mouseout="unpreview()">
    </span>
</div>