<div>

    <div class="alert alert-danger" ng-show="list.errorMessage">
        {{ list.errorMessage }}
    </div>

    <form>
        <input type="search" ng-model="list.searchTerm" />

        <select ng-model="list.orderTerm">
            <option value="-year">Newest</option>
            <option value="-rating">Best</option>
            <option value="+rating">Worst</option>
        </select>
    </form>
    <div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Rating</th>
                <th></th>
            </tr>


            <tr ng-repeat="movie in list.movies | filter:{ title:list.searchTerm} | orderBy:list.orderTerm" 
                ng-class="list.rateMovie(movie)">
                <td>
                    <a ng-href="#/detail/{{movie.id}}">
                        {{movie.title}}
                    </a>
                </td>
                <td>{{movie.year}}</td>
                <td>{{movie.rating}}</td>
                <td>
                    <a class="btn btn-default" ng-href="#/edit/{{movie.id}}">Edit</a>
                    <button class="btn btn-default" ng-click="list.increaseRating(movie)">+</button>
                    <button class="btn btn-default" ng-click="list.decreaseRating(movie)">-</button>
                    <button class="btn btn-danger" ng-click="list.deleteMovie(movie)" >Delete</button>
                </td>
            </tr>

        </table>
    </div>

</div>