<div class="container" ng-controller="AddMovieController as add">
    
    <form novalidate name="addMovieForm" 
          ng-submit="add.saveMovie(addMovieForm.$valid)">
        <label>Title</label>
        <input type="text" name="title" 
               required minlength="3" maxlength="50" start-with="S"
               ng-model="add.movie.title"/>
        <div class="validation" 
             ng-messages="addMovieForm.title.$error"
             ng-messages-include="/apps/moviesApp/templates/validationsError.html">
        </div>
        
        <label>Year</label>
        <input type="number" name="year" 
               min="1920" max="2020"
               ng-model="add.movie.year"/>
        <div class="validation"
             ng-messages="addMovieForm.year.$error"
             ng-messages-include="/apps/moviesApp/templates/validationsError.html">
            <div ng-message="min">Must be greater than 1920</div>
        </div>
        
        <label>Rating</label>
        <input type="number" 
               min="1" max="5"
               name="rating" ng-model="add.movie.rating" />
        <input type="submit" value="Save!"/>
        <input type="button" value="Clear" ng-click="add.clear(addMovieForm)" />
        <div class="validation"
             ng-messages="addMovieForm.rating.$error"
             ng-messages-include="/apps/moviesApp/templates/validationsError.html">
        </div>
    </form>
    
  
</div>
