<div class="container" ng-controller="addMovieController as add">
    
    <h3>Add a movie...</h3>
    <form novalidate name="addMovieForm" 
          ng-submit="add.saveMovie(addMovieForm.$valid)">
        <div class="form-group">
            <label>Title</label>
            
            <input type="text" class="form-control" 
                   name="title" required minlength="3" maxlength="255"
                   ng-model="add.movie.title" />
            <div class="errorMessages" 
                 ng-messages="addMovieForm.title.$error"
                 ng-messages-include="/apps/moviesApp/templates/validationMessages.html">
            </div>

        </div>
        <div class="form-group">
            <label>Year</label>
            <input type="number" class="form-control" name="year"
                   ng-model="add.movie.year" min="1900" max="2020"/>
            <div class="errorMessages"
                 ng-messages="addMovieForm.year.$error"
                 ng-messages-include="/apps/moviesApp/templates/validationMessages.html">
            </div>
        </div>
        <div class="form-group">
            <label>Rating</label>
            <input type="number" class="form-control"
                   min="1" max="5" name="rating"
                   ng-model="add.movie.rating" />
            <div class="errorMessages"
                 ng-messages="addMovieForm.rating.$error"
                 ng-messages-include="/apps/moviesApp/templates/validationMessages.html">
                <div ng-message="max">The max rating is 5</div>
            </div>
        </div>
        <input class="btn btn-default" type="submit" 
               ng-disabled="addMovieForm.$invalid"
               value="Save"/>
    </form>

</div>
