<div class="col-md-8" ng-controller="EditController as edit">

    <form name="editForm" ng-submit="edit.save(editForm.$valid)">

        <label>Title</label>
        <input type="text"
               name="title"
               required
               ng-model="edit.movie.title"/>

        <div ng-messages="editForm.title.$error">
            <div ng-message="required">This is required</div>
        </div>

        
        <!--<span class="has-error"
             ng-show="editForm.title.$error.required"
             >Title is required</span>-->

        <label>Year</label>
        <input type="number" name="year" ng-model="edit.movie.year" />

        <label>Rating</label>
        <input type="number" min="1" max="5" name="rating" ng-model="edit.movie.rating" />

        <input type="submit" value="Save" class="btn btn-primary"/>
        <button type="button" class="btn btn-primary" ng-click="edit.undo()">Undo</button>


    </form>

    <pre>
        {{ editForm | json }}
    </pre>


</div>