<div ng-controller="EditController as edit">
    
    <h1>Editing {{edit.movie.title}}</h1>
    
    <form name="editForm" ng-submit="edit.save(editForm.$valid)" novalidate>
        <div class="form-group">
            <label class="control-label">Title</label>
            <input required maxlength="20"
                   type="text" ng-model="edit.movie.title"
                   ng-model-options="{ updateOn: 'blur' }"
                   class="form-control" name="title" />
            <div ng-messages="editForm.title.$error"
                 ng-messages-include="/apps/moviesApp/templates/messages.html"> 
                <div ng-message="required">Title is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Year of Release</label>
            <input required min="1920" max="2020"
                   type="number" ng-model="edit.movie.year"
                   class="form-control" name="year" />
            <div ng-messages="editForm.year.$error"
                 ng-messages-include="/apps/moviesApp/templates/messages.html">
             
            </div>

        </div>
        
        <div class="form-group">
            <label class="control-label">Rating</label>
            <input required
                   type="number" min="1" max="5" ng-model="edit.movie.rating"
                   class="form-control" name="rating" />
            <div ng-messages="editForm.rating.$error"
                 ng-messages-include="/apps/moviesApp/templates/messages.html">

            </div>

        </div>

        <input class="btn btn-primary" type="submit" value="Save!" />
    </form>
    
    <hr/>
    <pre>{{ editForm | json}}</pre>
    
</div>