<div ng-controller="ListController as list">

    <div class="alert alert-danger" ng-if="list.error">
        {{ list.error }}
    </div>


    <table class="table">
        <tr>
            <th>Title</th>
            <th>Release</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="movie in list.movies"
            ng-class="list.rateMovie(movie)">

            <td>{{movie.title}}</td>
            <td>{{movie.releaseYear}}</td>
            <td>{{movie.rating}}</td>
            <td>
                <button class="btn btn-default" ng-click="list.increaseRating(movie)">
                    +
                </button>
                <button class="btn btn-default" ng-click="list.decreaseRating(movie)">
                    -
                </button>
            </td>
        </tr>

    </table>

</div>