<div>
 
    <div ng-if="main.error" class="alert alert-danger">{{main.error}}</div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="movie in main.movies" ng-class="main.rateMovie(movie)">
            <td>
                {{movie.title}}
            </td>
            <td>{{movie.year}}</td>
            <td>
                {{movie.rating}}
            </td>
            <td>
                <a href="#/edit/{{movie.id}}" class="btn btn-default">Edit</a>
                <input type="button" value="Details" class="btn btn-default" ng-click="main.gotoMovie($index)"/>
            </td>
        </tr>
    </table>
</div>