<div class="container" ng-controller="MoviesListController as list">
    <div class="alert alert-danger" ng-show="list.error">
        {{ list.error }}
    </div>

    <table class="table">
        <tr ng-repeat="movie in list.movies">
            <td>{{$index + 1}} of {{list.movies.length}}</td>
            <td>
                <span ng-show="!movie.editing">
                    <a ng-href="#/details/{{movie.id}}">
                        {{movie.title}}    
                    </a>
                </span>
                <span ng-show="movie.editing"><input type="text" ng-model="movie.title" /></span>
            </td>
            <td>{{movie.year}}</td>
            <td>{{movie.rating}}</td>
            <td>
                <button ng-click="list.increaseRating(movie)">+</button>
                <button ng-click="list.decreaseRating(movie)">-</button>
                <button ng-show="!movie.editing" ng-click="list.editMovie(movie)">Edit</button>
                <button ng-show="movie.editing" ng-click="list.saveEdit(movie)">Save</button>
            </td>
        </tr>
    </table>


</div>