<div class="col-md-8" ng-controller="ListController as list">
    <div ng-show="list.errorMessage"
         class="alert alert-danger">
        {{ list.errorMessage }}
    </div>
    <input type="search" placeholder="Search" ng-model="list.searchTerm"/>
    <select ng-model="list.orderTerm">
        <option value="+title">Title</option>
        <option value="+rating">worst</option>
        <option value="-rating">best</option>
    </select>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th></th>
        </tr>
        <tr ng-repeat="movie in list.movies | filter:{title:list.searchTerm} | orderBy:list.orderTerm" 
            ng-class="list.rateMovie(movie)">
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.rating}}</td>
            <td>
                <a class="btn btn-default" href="#/details/{{movie.id}}">Details</a>
                <button class="btn btn-default" ng-click="list.edit(movie.id)">Edit</button>
                <button ng-click="list.increaseRating(movie)" class="btn">+</button>
                <button ng-click="list.decreaseRating(movie)" class="btn">-</button>
            </td>
        </tr>
    </table>

</div>