<div class="panel panel-default">
    <div class="panel-heading">
        <ng-content></ng-content>
    </div>
    <div class="panel-body">
        <div>Rated as a {{movie.rating}}</div>
    </div>
    <div class="panel-footer">
            
        <button class="btn btn-default" 
                (click)="plus()">+
        </button>


        <a class="btn btn-default" [routerLink]="['/movie', movie.id]">Details</a>
        <button (click)="delete(movie)" class="btn btn-default">Delete</button>
        <a [routerLink]="['/movieedit', movie.id]" class="btn btn-default">Edit</a>

    </div>
</div>