body {
    background-color: #cccc99;
}

.good {
    color: green;
    font-weight: bold;
}

.bad {
    color:red;
    font-weight: bold;  
}

input.ng-touched.ng-invalid {
    background-color:red;
}