*[ng-cloak] {
    display: none;
}

/*.ng-show {
    -webkit-animation: fadeInRight 1s !important;
    -moz-animation: fadeInRight 1s !important;
    -ms-animation: fadeInRight 1s !important;
    -o-animation: fadeInRight 1s !important;
    animation: fadeInRight 1s !important
}*/

.ng-enter {
    -webkit-animation: bounceInLeft 1s, pulse 2s;
    -moz-animation: bounceInLeft 1s, pulse 2s;
    -ms-animation: bounceInLeft 1s, pulse 2s;
    -o-animation: bounceInLeft 1s, pulse 2s;
    animation: bounceInLeft 1s, pulse 2s;

}


input.ng-invalid.ng-dirty {
    background-color: red;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
