[ng-cloak] {
    visibility: hidden;
}

.ng-enter {
    -webkit-animation: zoomInDown 2s;
    -moz-animation: zoomInDown 2s;
    -ms-animation: zoomInDown 2s;
    -o-animation: zoomInDown 2s;
    animation: zoomInDown 2s;
}

/*.ng-enter {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 2s linear all;
    -ms-opacity: 0;
    opacity: 0;
}

.ng-enter-active {
    -ms-opacity: 1;
    opacity: 1;
}*/


body {
  
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
