<div class="col-md-12" ng-controller="MoviesController as list">

    <div ng-show="list.error" class="alert alert-warning">
        {{ list.error }}
    </div>
    
    <h3>{{list.counter}}</h3>
    
    <input type="search" ng-model="list.searchTerm"/>
    
    <select ng-model="list.orderTerm">
        <option value="+title">Title</option>
        <option value="+rating">Worst Movies</option>
        <option value="-rating">Best Movies</option>
    </select>

    <table class="table">
        <tr ng-repeat="movie in list.movies | filter:{title: list.searchTerm} | orderBy:list.orderTerm">
            <td>
                {{$index + 1}} of {{ list.movies.length }}
            </td>
            <td>
                <a ng-href="#/details/{{movie.id}}">
                    {{movie.title}}
                </a>
            </td>
            <td>{{movie.rating}}</td>
            <td>{{movie.year}}</td>
            <td>{{ movie.year > 2010 | checkmark}}</td>
            <td>
                <button ng-click="list.gotoDetails(movie)" class="btn btn-default">Details</button>
                <a ng-href="#/edit/{{movie.id}}" class="btn btn-default">Edit</a>
                <button ng-click="list.increaseRating(movie)" class="btn btn-default">+</button>
                <button ng-click="list.decreaseRating(movie)" class="btn btn-default">-</button>
            </td>
        </tr>
    </table>
</div>  