@model IEnumerable<AtTheMovies.Models.Movie>

@{
    ViewBag.Title = "Index";
}

@section footer {
    <div>
        This is a custom footer for the movie listing!
    </div>
}

<h2>Index</h2>

<p>

    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_MovieTable")