body {
    background-color: #ffffff;
}

input.ng-invalid {
    background-color: red;
}

.ng-enter {
    opacity: 0;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

.ng-enter.ng-enter-active {
    opacity: 1;
}


/*.ng-cloak {
    display: none;
}

.bad-movie {
    background-color: #ff0000;
    background-color: rgba(255, 0, 0, 0.20);
}

.good-movie {
    background-color: green;
    background-color: rgba(0, 255, 0, 0.20);
}

.ng-enter {
    -webkit-animation: zoomIn 0.5s;
    -moz-animation: zoomIn 0.5s;
    -ms-animation: zoomIn 0.5s;
    -o-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}

tr.ng-leave {
    -webkit-animation: slideOutDown 1.0s;
    -moz-animation: slideOutDown 1.0s;
    -ms-animation: slideOutDown 1.0s;
    -o-animation: slideOutDown 1.0s;
    animation: slideOutDown 1.0s;
}

tr.ng-enter {
    -webkit-animation: bounceInLeft 1.0s;
    -moz-animation: bounceInLeft 1.0s;
    -ms-animation: bounceInLeft 1.0s;
    -o-animation: bounceInLeft 1.0s;
    animation: bounceInLeft 1.0s;
}

input.ng-invalid {
    border-color: red;
    
}

div[ng-messages] {
    color: red;
}*/

