body {
	background-color: #ccccbb;
}

.ng-cloak {
	display:none;
}


.goodRating {
    color: green;
    font-size: larger;
}

input.ng-invalid.ng-dirty {
    border: 2px solid red;
}

.badRating {
    color: red;
    font-size: smaller;
}

.validation {
    color: red;

}