body {
    background-color: #ffffff;
}

view.ng-enter {
    -webkit-animation: zoomIn 0.5s;
    -moz-animation: zoomIn 0.5s;
    -ms-animation: zoomIn 0.5s;
    -o-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}

tr.ng-leave {
    -webkit-animation: slideOutDown 1.0s;
    -moz-animation: slideOutDown 1.0s;
    -ms-animation: slideOutDown 1.0s;
    -o-animation: slideOutDown 1.0s;
    animation: slideOutDown 1.0s;
}

tr.ng-enter {
    -webkit-animation: bounceInLeft 1.0s;
    -moz-animation: bounceInLeft 1.0s;
    -ms-animation: bounceInLeft 1.0s;
    -o-animation: bounceInLeft 1.0s;
    animation: bounceInLeft 1.0s;
}

.ng-cloak {
    display: none;
}

input.ng-invalid {
    border-color: red;
    background-color: red;
}

div[ng-messages] {
    color: red;
}

.good {
    background-color: rgba(00, 200, 00, 50);
}

.bad {
    background-color: red;
}
