<div class="panel panel-default">
    <h3 class="panel-heading">Manage Tokens</h3>
    <div class="panel-body">
        <button (click)="getToken()" class="btn btn-primary">Get Token</button>
        <div>
            <h5>Current Token</h5>
            <pre *ngIf="aftRequestToken">
{{ aftRequestToken | json }}
            </pre>
            <pre *ngIf="!aftRequestToken">
None
            </pre>
        </div>

    </div>
</div>
<hr />
<div class="panel panel-default">
    <h3 class="panel-heading">Use Tokens</h3>
    <div class="panel-body">
        <button (click)="sendPostRequest()" class="btn btn-primary">Send Post Request</button>
    </div>
</div>
<div class="panel panel-default">
    <h3 class="panel-heading">
        Last Response :
        <span [ngClass]="computeResponseStatus()">{{lastResponse?.status}}</span>
    </h3>
    <div class="panel-body">
        <pre>
{{ lastResponse | json }}
        </pre>
    </div>
</div>