<div>
    <h3>New Movie</h3>

    <form [formGroup]="form" (ngSubmit)="save()" novalidate>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="" name="title" class="form-control" [formControl]="title">
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="number" name="rating" class="form-control" [formControl]="rating">
        </div>
        <div class="form-group">
            <input type="submit" value="Save!" class="btn btn-primary">
        </div>
    </form>

</div>