<html ng-app="moviesApp">

<head>
    <title>At The Movies!</title>
    <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/Content/styles.css">
</head>

<body class="ng-cloak">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">At The Movies!</a>
            </div>
        </div>
    </nav>

    <div class="container" ng-controller="ShellController as shell">
        <div class="row">
            <div class="col-md-8" 
                 ng-controller="MovieListController as list">

                <div ng-if="list.error" class="alert alert-warning">
                    {{list.error}}
                </div>


                <table class="table">

                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                        <th>Actions</th>
                    </tr>

                    <tr ng-repeat="movie in list.movies"
                        ng-class="list.rateMovie(movie)"
                        >
                        <td>{{movie.title}}</td>
                        <td>{{movie.year}}</td>
                        <td>{{movie.rating}}</td>
                        <td>
                            <button ng-click="list.increaseRating(movie)" class="btn btn-default">
                                +
                            </button>
                            <button ng-click="list.decreaseRating(movie)" class="btn btn-default">
                                -
                            </button>

                        </td>
                    </tr>

                </table>
                
            </div>
            <div class="col-md-4">

                {{ shell.message }}
                <button class="btn btn-primary"
                        ng-click="shell.changeMessage()">
                    Click me!
                </button>
                <input type="text" required ng-model="shell.message" />

            </div>
        </div>
    </div>

    <script src="Scripts/angular.js"></script>
    <script src="Apps/moviesApp/module.js"></script>
    <script src="Apps/moviesApp/scripts/controllers/ShellController.js"></script>
<script src="Apps/moviesApp/scripts/controllers/MovieListController.js"></script>
    <script src="Apps/moviesApp/scripts/services/movieData.js"></script>
</body>
</html>