<div class="panel panel-default">
    <div class="panel-heading">
        {{movie.title}}
    </div>
    <div class="panel-body">
        Length: {{movie.length}} Rating: {{movie.rating}}
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" (click)="movie.increaseRating()">
                    <i class="glyphicon glyphicon-plus"> </i>
                </button>
        <button class="btn btn-default" (click)="movie.decreaseRating()">
                    <i class="glyphicon glyphicon-minus" ></i>
            </button>
        <a [routerLink]="['edit', movie.id]" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a (click)="goToMovie()" class="btn btn-default">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
    </div>
</div>