<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>{{movie.title}}</h3>
    </div>
    <div class="panel-body">
        Current rating: {{movie.rating}}
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" [routerLink]="getMovieDetailUrl(movie)">
            Details
        </a>
        <a class="btn btn-default" [routerLink]="getMovieEditUrl(movie)">
            Edit
        </a>
        <button class="btn btn-default" (click)="movie.upVote()">+</button>
        <button class="btn btn-default" (click)="movie.downVote()">-</button>
    </div>
</div>