@model IEnumerable<Movie>

@{
    ViewBag.Title = "Index";
}

@section footer
{ 
    <div>This is a custom footer. Total movies: @Model.Count()</div>
}

<h2>All Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@Html.Partial("_MovieList")
