<h2>Edit {{movie.title}}</h2>

<form #form="ngForm" (ngSubmit)="save(form)" novalidate>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="movie.title" 
                required maxlength="80" #title="ngModel"
               name="title" class="form-control">
        <!--<span [hidden]="!title?.errors.required">The title is required</span>
        <span [hidden]="!title?.errors.maxlength">The title is too long</span>-->
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="text" name="rating" class="form-control"   
                [(ngModel)]="movie.rating">
    </div>
    <div class="form-group">
        <input type="submit" value="Save" 
                [disabled]="!form.valid"
                class="btn btn-primary">
    </div>
</form>