<div>
    
    <h3>Editing</h3>
    
    <form  [ngFormModel]="form" (ngSubmit)="save()" novalidate>
        
        <label>Title
            <input type="text"  [ngFormControl]="title" >    
            <span [hidden]="!title.hasError('required')">This is required</span>
            <span [hidden]="!title.hasError('invalidTitle')">
                Movie must start with S
            </span>    
        </label>
        
        <label for="rating">Rating</label>
            <span [hidden]="!rating.hasError('min')">This is too small</span>                
            <span [hidden]="!rating.hasError('max')">
                This is too large
            </span>
                    
        <input type="number" [ngFormControl]="rating">
        
        <label for="length">Length</label>
        <input type="number"  [ngFormControl]="length">
        
        
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
    
</div>