<div>
    
    <h3>Editing {{movie?.title}}</h3>
    
    <form *ngIf="movie" #form="ngForm" (ngSubmit)="save(form)" novalidate>
        
        <label>Title
            <input type="text" [(ngModel)]="movie.title" 
                ngControl="title" required>        
        </label>
        
        <label for="rating">Rating</label>
        <input type="numbers" [(ngModel)]="movie.rating" 
               ngControl="rating">
        
        <label for="length">Length</label>
        <input type="number" [(ngModel)]="movie.length" 
               ngControl="length">
        
        
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
    
</div>