<div>
    <form #form="ngForm" (ngSubmit)="save(form)" novalidate>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" 
                    required #title="ngModel" 
                   name="title" [(ngModel)]="movie.title">

            <div class="alert alert-danger" 
                *ngIf="!title.valid && title.touched">
                This is required
            </div>

        </div>
        <div class="form-group">
            <label for="length">Length</label>
            <input type="number" class="form-control" 
                   name="length" [(ngModel)]="movie.length">
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="number" class="form-control" 
                   name="rating" [(ngModel)]="movie.rating">
        </div>
        <input [disabled]="!form.valid" type="submit" value="Save" 
                class="btn btn-primary" />
    </form>
</div>