<div>
    <h3>Editing {{movie?.title}}</h3>
    <form #form="ngForm" (ngSubmit)="save(form)" *ngIf="movie" novalidate>
        <div class="control-group">           
            <label for="title">Title</label>
            <input type="text" name="title" required
                   #title="ngModel"
                   [(ngModel)]="movie.title" class="form-control" />
            <div [hidden]="!title?.errors?.required" class="alert alert-danger">
                Title is required
            </div>
        </div>

        <div class="control-group">
            <label for="rating">Rating</label>
            <input type="number" name="rating" min="1" max="5"
                   [(ngModel)]="movie.rating" class="form-control" />
        </div>

        <div class="control-group">
            <label for="length">Length</label>
            <input type="text" name="length" 
                   [(ngModel)]="movie.length" class="form-control" />
        </div>

        <div class="control-group">
            <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Save!">
        </div>
    </form>
</div>