<div>
    <form [formGroup]="form" (ngSubmit)="save()" novalidate>
        <div class="form-group">
            <label for="title">Title</label>
            <input [formControl]="title" type="text" class="form-control" 
                name="title" >
            <div class="alert alert-danger" *ngIf="!title.valid">
                This is required
            </div>
        </div>
        <div class="form-group">
            <label for="length">Length</label>
            <input type="number" class="form-control" 
                   name="length" [formControl]="length" >
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="number" class="form-control" 
                   name="rating" [formControl]="rating">
        </div>
        <input type="submit" value="Save" 
                [disabled]="!form.valid"
                class="btn btn-primary" />
    </form>
</div>