<div>
    
    <div [hidden]="isHidden"></div>
    
    
    <div *ngIf="message">
        Message: {{ message }}           
    </div>
    
    <input [(ngModel)]="message" type="text">
    <button (click)="changeMessage()">Change the message</button>
    
    <table>
        <tr *ngFor="#movie of movies" >
            <td>{{movie.title}}</td>
            <td [ngClass]="{good: movie.isGood(), bad: movie.isBad() }">{{movie.rating}}</td>
            <td>
                <button (click)="movie.increaseRating()">+</button>
                <button (click)="movie.decreaseRating()">-</button>
            </td>
        </tr>
    </table>
    
    
    
</div>