<h3>At The Movies</h3>

<table class="table">


    <tr *ngFor="#movie of movies;">
        <td [ngClass]="{ good: movie.isGood(), bad:movie.isBad() }">
            {{movie.title}}           
        </td>
        <td>
            <i *ngFor="#x of getIterableForMovieRating(movie)"
                class="glyphicon glyphicon-star"
            ></i>    
        </td>
        <td>{{movie.length}}</td>
        <td>
            <button class="btn btn-default" (click)="movie.upRating()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <button class="btn btn-default" (click)="movie.downRating()">
                <i class="glyphicon glyphicon-minus"></i>
            </button>
            <button class="btn btn-default" (click)="goToDetails(movie)">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </button>
            <a [routerLink]="['Edit', {id:movie.id}]" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
            </a>         
        </td>
    </tr>

</table>

<a [routerLink]="['Create']" class="btn btn-primary">Create</a>