<div>
    <input type="search" placeholder="Search" ng-model="main.searchTerm" />

    <select ng-model="main.ordering">
        <option value="+title">Title</option>
        <option value="+length">Length (asc)</option>
        <option value="-length">Length (desc)</option>
    </select>

    <table class="table table-condensed">
        <tr ng-repeat="movie in main.movies | filter:main.searchTerm | orderBy:main.ordering">
            <td>{{$index + 1}} of {{main.movies.length}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.length}}</td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="main.refreshMovies(false)">Refresh</button>
</div>