<div ng-controller="editMovieController as ctrl" class="container">

    <h3>Edit a movie....</h3>

    <form name="ctrl.form" ng-submit="ctrl.form.$valid && ctrl.submit()">

        <label>Title</label>
        <input type="text" placeholder="Title" required name="title" ng-model="ctrl.movie.title" />

        <label>Release Date</label>
        <input type="datetime" placeholder="Release" name="releaseDate" ng-model="ctrl.movie.releaseDate" />

        <label>Length</label>
        <input type="number" min="10" max="300" name="length" placeholder="Length" ng-model="ctrl.movie.length" />

        <input class="btn btn-primary" type="submit" value="Save!"
               ng-disabled="ctrl.form.$invalid" />

    </form>

</div>