<div ng-controller="addMovieController as addMovie" class="container">
    
    <h3>Makin Movies!</h3>

    <form name="addMovie.form" ng-submit="addMovie.form.$valid && addMovie.submit()">
        
        <label>Title</label>
        <input type="text" placeholder="Title" required name="title" ng-model="addMovie.movie.title" />

        <label>Release Date</label>
        <input type="datetime" placeholder="Release" name="releaseDate" ng-model="addMovie.movie.releaseDate" />

        <label>Length</label>
        <input type="number" min="10" max="300" name="length" placeholder="Length" ng-model="addMovie.movie.length" />


        <input class="btn btn-primary" type="submit" value="Save!"
               ng-disabled="addMovie.form.$invalid" />

    </form>

</div>
